*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.container{
    max-width: 1200px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}

header{
    margin-bottom: 100px;
}

.card{
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 50px;
}

img{
    max-width: 100%;
}